body {
    margin: 0;
    padding: 0;
    background: rgb(1, 1, 63);
    font-family: system-ui;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

nav {
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(15, 15, 15);
    position: fixed;
}

.left {
    margin-left: -70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    background: linear-gradient(to right, rgb(1, 13, 82), rgb(241, 5, 202), rgb(3, 147, 231));
    -webkit-background-clip: text;
    color: transparent;
}

.right ul {
    display: flex;
    justify-content: center;
}

.right ul li {
    list-style: none;
}

.right ul li a {
    margin: 0 0 0 1cm;
    cursor: pointer;
    border: 2px solid aqua;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
    color: cyan;
    font-size: 20px;
}

.right ul li:hover a {
    color: white;
    border: 2px solid black;
    background-color: aqua;
    transition: 0.5s;
    box-shadow: 0 0 25px 2px aqua;
}

.home {
    display: flex;
}

.home .image {
    width: 50%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.image img {
    margin: 100px 170px 0 0;
    height: 500px;
    border-bottom: 2px solid white;
}

.detail-con {
    width: 50%;
    margin: 250px 0 0 150px;
}

.name {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.name2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0ef;
}

.name2 .first-text {
    color: aliceblue;
    font-weight: lighter;
}


.details {
    font-size: 20px;
    color: aliceblue;
}

.logo a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 28px;
    height: 40px;
    width: 40px;
    border: 2px solid cyan;
    border-radius: 50%;
    color: cyan;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    cursor: pointer;
}

.logo a:hover {
    background-color: cyan;
    box-shadow: 0 0 20px 0px cyan;
    color: white;
}

/*-------------------------------------about page---------------------------------------*/

.about {
    color: white;
}

.about-me {
    display: flex;
}

div.about-img {
    width: 40%;
}

.about-img img {
    margin: 50px 0 0 40px;
    height: 450px;
    width: 350px;
    border: 2px solid cyan;
    border-radius: 10px;

}

div.me-detail {
    width: 55%;
    font-size: 20px;
    line-height: 1.4;
}

.about-me h3 {
    font-size: 40px;
    color: white;
    font-weight: bolder;
}

.about-me h3 span {
    color: cyan;
}

#about-tab {
    display: flex;
    margin: 30px 0 20px 0;
    color: cyan;
}

#about-tab p {
    cursor: pointer;
    margin: 0 2cm 0 0;
    position: relative;
}

#about-tab p::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -8px;
    left: 0;
    width: 0;
    background-color: white;
    transition: 0.5s;
}

#about-tab .tab-links.active-link::after {
    width: 50%;
}

#about-tab p:hover:after {
    width: 100%;
}

.tab-list ul li {
    list-style: none;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 1.4;
    padding: 0;
    text-decoration: none;

}

.active-list ul li i {
    margin: 7px 10px 0 -40px;
}


.close-list ul li {
    margin: 7px 10px 0 -40px;
}

.tab-list.close-list ul li span {
    color: cyan;
}

.tab-list {
    display: none;
}

.tab-list.active-list {
    display: block;
}


/*---------------------------------------------project page------------------------------------------*/

.project h3 {
    color: white;
    font-size: 40px;
    margin-left: 25px;
}

.pro-details h2 {
    color: cyan;
    text-transform: capitalize;
    margin-left: 30px;
    cursor: pointer;
}

.pro-details ul li {
    color: white;
    font-size: 20px;
    margin-left: 8px;
    line-height: 1.4;
}

#learn-btn {
    margin: 20px 0 0 40px;
    height: 35px;
    width: 150px;
    border: 2px solid white;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 25px;
    background-color: transparent;
    color: cyan;
    letter-spacing: 1px;
}

#learn-btn:hover {
    color: white;
    background-color: aqua;
    transition: 0.5s;
    box-shadow: 0 0 25px 2px aqua;
}

.grid-container {
    margin: 40px 0 0 20px;
    display: flex;
    color: white;
    font-size: 20px;
}

.grid-item {
    display: none;
}

.grid-item1 {
    width: 50%;
}

.grid-item img {

    margin-left: 50px;
    height: 250px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 cyan;
    overflow: hidden;
    transition: 0.4s;
}

.grid-item2 {
    width: 50%;
}

.grid-item img:hover {
    transform: scale(1.2);
    z-index: 2;
}



/*-------------------------------------------contact page-----------------------------------------*/

.contact-me {
    margin-top: 100px;
}

.contact-me h3 {
    color: white;
    font-size: 40px;
    margin-left: 25px;
}

.contact-me h3 span {
    color: cyan;
}

.con-bg {
    margin-bottom: 40px;
}

.con-bg img {
    height: 500px;
    width: 1000px;
    border: 1px solid wheat;
    border-radius: 20px;
    box-shadow: 0 0 20px 0px cyan;
    margin: 20px 0 0 150px;
}

.con-name {
    position: absolute;
    transform: translate(380px, -23em);
    color: white;
    font-size: 20px;
}

.con-name label[for="name"] {
    margin-top: 30px;
}

.con-name input,
#msg {
    height: 30px;
    width: 500px;
    font-size: 15px;
}

#msg {
    height: 80px;
    width: 500px;
    font-size: 15px;
}


.con-name .labels {
    margin-top: 20px;
}

button {
    margin: 25px 0 0 300px;
    font-size: 20px;
    border: 1px solid cyan;
    border-radius: 25px;
    transition: 0.5s;
    padding: 3px 5px;
    margin-left: 180px;
    width: 150px;
}

button:hover {
    background-color: cyan;
    box-shadow: 0 0 20px 0 cyan;
    color: white;
}

.open_menu {
    position: absolute;
    cursor: pointer;
    right: 6%;
    top: -55px;
    color: white;
    font-size: 75px;
    display: none;
}

/*----------------------responsive webpage---------------*/

@media only screen and (max-width: 1000px) {

    nav {
        flex-direction: column;
    }

    .left {
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
    }


    .right ul {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        visibility: hidden;
        margin-top: -20px;
    }

    .right ul li {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

    }

    .right ul li a {
        font-size: 40px;
        margin-left: -55px;
    }

    .open_menu {
        display: block;
    }


    .home {
        flex-direction: column-reverse;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .detail-con {
        margin-top: 25px;
        font-size: 25px;
        width: 900px;
    }

    .details {
        font-size: 32px;
    }

    .image {
        margin-left: 305px;

    }

    /*==============about-me============*/
    .about-me {
        flex-direction: column;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .me-detail h3,
    .project h3,
    .contact-me h3 {
        font-size: 45px;
    }

    #about-resp {
        margin-top: 25px;
        font-size: 35px;
        width: 870px;

    }

    #about-resp,
    .me-detail h3,
    .pro-details {
        margin-left: -50px;
    }

    .project h3 {
        margin-left: -120px;
    }

    .about-img img {
        margin-left: 10px;
        height: 550px;
        width: 500px;
    }

    #about-tab p {
        font-size: 40px;
    }

    #skills li,
    #education li {
        font-size: 35px;
        width: max-content;
    }

    .project {
        margin-left: 160px;
    }

    .pro-details h2 {
        font-size: 33px;
    }

    .pro-details {
        width: 900px;
    }

    .pro-details ul li {
        font-size: 35px;
    }

    #learn-btn {
        margin: 20px;
        font-size: 25px;
    }

    .grid-container {
        font-size: 35px;
        width: 1060px;
    }

    .me-detail h3 {
        margin-left: -150px;
    }

    .con-bg img {
        margin-left: 20px;
    }

    .con-name {
        margin-left: -250px;
    }

    .con-name input {
        width: 770px;
        font-size: 25px;
    }

    #msg {
        font-size: 25px;
        width: 770px;
    }

    button {
        margin-left: 300px;
    }
    .image img{
        height: 665px;
    }

}